*{
  padding: 0px;
  margin: 0px;
  align-items: center;
}
/* ---------------------------------------------------------------------navbar */
#navbar{
    display:flex;
    word-wrap:wrap;
    background-color:#131a28;
    
    color: white;
    position: relative;
    z-index: 1;
    
}
#logo
{
  border: 2px solid black;
}

.item 
{
padding: 0px 33px;    
    
}
.heading{
  display: flex;
  margin: 0px 20px;
}
#navbar ul li a{
  
  text-decoration: none;
  color: white;
}
#navbar ul li{
  list-style: none;
  font-size: 1.8rem;
  
}
#navbar ul li:hover{
  background-color: rgb(0, 92, 128);
  color:black;
  border:2px solid rgb(21, 179, 152);
  border-radius: 50px;
}
/* navbar---------------------------------------------------------------------------------------- */
/* section--------------------------------------------------------------------------------------------- */
#overview{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.space
{
  padding: 18px 220px;
  color: white;
  font-size: 1.2rem;

}
#ordernow{
  height: auto;
  width: auto;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  border:2px solid black;
  border-radius: 50px;
  padding: 8px;
    background-color: grey;
}
#ordernow:hover{
 
  background-color: black;
  color:white;
  border:2px solid black;
  border-radius: 50px;
}
#overview::before{
  content: "";
  position: absolute;
  background:url('bg4.jpg')no-repeat center center/cover;
  z-index: -1;
  width: 100%;
  height: 300px;
  /* opacity: 40%; */
}
#overview h1{
  font-size: 2.5rem;
}
/* product----------------------------------------------------------------------------------------- */
.container{
  border: 2px solid black;
  border-radius: 5px;
  height: auto;
  width: 250px;
  margin: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  
}
.product{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 60px 5px;

}
.container:hover{
  border: 2px solid black;
  border-radius: 15px;
  height: auto;
  width: 250px;
  margin: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  background-color:grey;
  
}
/* last------------------------------------------------------------------------------------------- */
.details{
  display: flex;
  margin: 19px;
}
.partner
{
     margin:2px 78px;
     
}
.last h1{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  
}
.contact{
  display: flex;
  justify-content: center;
}
.contact a{
  text-decoration: none;
  color: black;
  padding: 5px 5px;
  border: 2px solid black;
  border-radius: 20px;
  
  margin: 50px 20px;
}

.contact a:hover{
  background-color: chartreuse;
}
.last{
  background-color: rgb(235, 230, 230);
}
/* --------------------------------------------------------- */
/* footer--------------------------------------------------------------------- */
.footer{
  background-color: black;
  color: white;
  

}